.image__section{
    margin-top: 300px;
}
@media only screen and (max-device-width: 480px) {
    .frontimage2{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .frontimage2{
      margin-top: 50px;
      width: 100%;
    }
  }