*{
    font-family: "poppins";
    font-style: normal;
}
.image__section{
    margin-top: 300px;
}
.image__section1{
    margin-top: 230px;
}
.Gilet-Emilia{
    margin-top: 130px;
}
.product__heading{
    margin-top: 30px;
    font-size: 34px;
    font-style: normal;

}
@media only screen and (max-device-width: 480px) {
    .frontimage2{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .frontimage2{
      margin-top: 50px;
      width: 100%;
    }
  }