.navbar__wrapper{
    width: 100%;
    height: auto;
    color: #eee;
    background-color: #000;
    text-transform: uppercase;
    font-family: sans-serif;
    z-index: 100;

}

.navbar__wrapper span:hover {
    color:sandybrown;
}

.navbar__header {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    align-items: center;
}

.left__sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.left__sec span {
    padding-right: 35px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -150px;
    cursor: pointer;
}

.logo img {
    width: 183px;
    height: 42px;
}

.right__sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.right__sec > .MuiSvgIcon-root {
    margin-right: 18px;
    font-size: 22px;
    cursor: pointer;
}

.navbar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.navbar__nav span {
    margin-right: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}


.navbar2__wrapper {
    width: 100%;
    height: auto;
    color: #eee;
    background-color: #000;
    text-transform: uppercase;   
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* transition: .5s; */
    z-index: 100;
    scroll-behavior: smooth;
    /* display: none; */
}
.nav__scroll {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}


/* .nav__scroll .navbar__wrapper {
    display: none;
} */

.navbar2__wrapper:hover span {
    color: sandybrown;
}

.leftSec__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.leftSec__logo img {
    display: flex;
    width: 100px;
}

.mobSearchbar {
    display: none;
}

.middle__sec {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle__sec span {
    margin-right: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
}


.click__menu {
    font-size: 2rem;
    cursor: pointer;
    /* margin: 20px; */
    display: none;
    /* display: block; */
}
.middle__sec ,  .close__menu {
    font-size: 2rem;
    display: none;
    /* display: block; */
    cursor: pointer;
}


.d__btn:hover .dropdown1{  
    transition: 2.5s;
    display: flex;
}

.d__btn2:hover .dropdown2{
    transition: 2.5s;
    display: flex;
    margin: 0 auto;
}
.rightSec__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;   
}

.rightSec__icons > .MuiSvgIcon-root {
    margin-right: 18px;
    font-size: 22px;
}


@media screen and (max-width:990px) {

    .navbar__wrapper {
        height: auto;
        width: 100%;
        position: absolute;
        top: auto;
        left: 0;
    }

    .navbar__nav {
        display: none;
    }

    .navbar2__wrapper {
        overflow:hidden;
    }

    .left__sec {
        display: none;
    }

    .logo{
        margin-left: 10px;
    }
    
.logo img {
    width: 120px;
    height: 32px;
}


.right__sec{
    margin-right: 15px;
}

.mobSearchbar {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 4px;
    position: absolute;
    top: 50px;
    overflow: hidden ;
}
.mobSearchbar > input {
    border: none;
    outline: none;
    padding: 4px 10px;
    width: 70%;
    font-size: 18px;
}
.mobSearchbar > .MuiSvgIcon-root {
    color: #000;
}

    .middle__sec {
        height: 100%;
        width: 280px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        display: none;
        transition: left 1s ease;
        background-color: #000;

        /* additional changes */
        justify-content: left;
        /* align-items: flex-start; */
        padding-top: 90px;
        cursor: unset;
    }

    .middle__sec span {
        padding: 10px 0;
        display: block;
        /* margin: 0 auto; */
        /* justify-content: center; */
        /* align-items: center; */

        /* additional changes */
        margin: 0px 0 0 0;
        justify-content: left;
        /* border: 1px solid #fff; */
        width: 255px;
        padding-left: 20px;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .close__menu  {
        display: block;
        position: absolute;
        top: 0px;
        right: 20px;
    }

    .close__menu > .MuiSvgIcon-root {
        color: #fff;
    }

    .click__menu  {
        display: block;
        /* margin-top: 4px; */
        margin-top: -10px;
        position: absolute;
        top: 0;
        right: 40px;
        padding: 0;
    }

    .click__menu > .MuiSvgIcon-root {
        color: #fff;
    }

    .rightSec__icons > .MuiSvgIcon-root  {
        display: none;
    }

    .d__btn:hover .dropdown1{    
    transition: 2.5s;
    display: block;
}
.d__btn2:hover .dropdown2{    
    transition: 2.5s;
    display: block;
    margin: 0;
}

}